body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    color: #514745;
}
section{
    padding-bottom: 10%;
}
h1{
    font-size: 50px;
}
.Yellow-color{
    color: #FFA500;
}
.half-width{
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
}
.display-flex{
    display: flex;  
}
.half-widt-img{
    width: 100%;
}
.portfoli-link{
    background-image: linear-gradient(90deg, rgba(255,106,77,1) 0%, rgba(255,154,117,1) 100%);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
}
.background-img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.background-img-2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-tab{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 5%;
    
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    border-radius: 10px;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    border-radius: 10px;

}
.experiences-background{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: rleft;

}